.App {
  display: flex;
  height: 100vh;
}

.container {
  background: rgb(231, 221, 235);
  margin: auto;
  width: 200px;
  padding: 10px;
  text-align: center;
  flex: 0 0 auto;
}

.App-logo {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
