.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 10px;
  width: 200px;
  padding: 10px;
  flex: 0 0 auto;
}

header .container {
  background: none;
  text-align: center;
  border-bottom: 3px solid #a7e4f0;
}

header h2 {
  margin-bottom: 0;
}

.workout ul {
  padding: 10px;
}

.items ul {
  padding: 0;
}

.App-logo {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}


/***** CHECKBOX *****/

.checkbox {
  margin: 7px 0;
}

input{ display:none; }

.checkbox label {
  display: flex;
}

label div{
	width:12px;
	height:12px;
	display:inline-block;
	border:2px solid #a7e4f0;
	text-align:center;
  vertical-align: middle;
	line-height:10px;
	margin-right:6px;
	border-radius:3px;
	cursor:pointer;
  color: #494949;
}

label i{ font-size:16px;	opacity:0; }
label:hover div{ background:#e4f2f4; }
input:checked+div i{ opacity:1; }
input:checked+label div{ background:#16a085; }
