.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgb(231, 221, 235);
  margin: 10px;
  width: 200px;
  padding: 10px;
  flex: 0 0 auto;
}

header .container {
  background: none;
  text-align: center;
}

.App-logo {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
