:root {
  --primary: #a7e4f0;
  --blockquote: #ece8f2;
  --title-background: #ecf8fb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --title-background: #1d7186;
  }
}

html {
  /* Fix jumping scrollbar when page loads more content:
   * https://css-tricks.com/elegant-fix-jumping-scrollbar-issue */
  margin-left: calc(100vw - 100%);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

header,
footer,
.page {
  display: flex;
  max-width: 600px;
  width: 100%;
}

.page {
}

.container {
  margin-bottom: 15px;
  min-width: 300px;
  flex: 1 0 auto;
  width: 100%;
}

section,
.section {
  margin-bottom: 24px;
}

.section-border {
  border-left: 2px solid #ccc;
  padding-left: 10px;
}

header .container {
  border-bottom: 3px solid var(--primary);
}

h1 {
  font-size: 1.3em;
  margin-block-start: 0;
  margin-block-end: 0;
}

header h2 {
  font-size: 1.2em;
}

.error {
  color: red;
}

small {
  color: #958ba8;
  font-size: 0.8em;
}

.description {
  display: block;
  color: #958ba8;
}

.encouragement {
  color: #aaa5a5;
}

.encouragement-row {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: auto min-content;
  align-items: center;
  margin-bottom: 10px;
}

.workout {
  margin-bottom: 40px;
}

.list-row {
  display: inline-flex;
  flex-wrap: wrap;
  grid-column-gap: 12px;
  margin-bottom: 10px;
}

.row-with-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 8px;
}

label {
  margin-bottom: 10px;
  display: block;
}
label input,
label select,
textarea {
  width: 100%;
}

h3 {
  font-size: 1.1em;
  background: var(--title-background);
}

h4 {
  margin-block-start: unset;
}

.workout ul {
  padding: 10px;
}

.App-logo {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.workout-badge,
.user-badge {
  display: inline-grid;
  grid-template-columns: min-content auto;
  align-items: flex-start;
  gap: 0.3em;
  width: 100%;
}

.user-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  vertical-align: middle;
}

p {
  margin: 0;
  margin-bottom: 1em;
}

ul.description-list {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 10px;
}
.description-list > li {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
}

/*---RESET---*/
.text-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}
.text-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.text-button {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  cursor: pointer;
  color: var(--text-main);
  text-decoration: underline #aaa5a5;
  margin-left: -10px;
  padding: 0 10px;
}
.text-button-stealth {
  text-decoration: none;
}
.text-button-selected {
  text-decoration: underline 3px var(--primary);
}
.text-button:hover {
  color: #000;
}

.text-button .icon-button {
  text-decoration: none;
  font-size: 24px;
}

.card {
  margin-bottom: 30px;
}
.card-content {
  padding-inline-start: 27px;
  margin-inline-start: 15px;
  border-left: 3px solid var(--blockquote);
  padding-top: 16px;
}

/* Firebase */
#firebaseui_container {
  margin: 0 -24px;
}
.firebaseui-card-content {
  padding: 0;
}
.firebaseui-list-item {
  text-align: left;
}

/* react-calendar */
.react-calendar {
  border: none;
}
.react-calendar__navigation {
  min-width: 20px;
}
.react-calendar__navigation__label {
  min-width: 50px;
}
.react-calendar__month-view__days {
  align-items: baseline;
}
.react-calendar__month-view__days__day--weekend {
  color: initial;
}
