.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

header,
footer,
.page {
  flex: 0 0 auto;
  display: flex;
  /* background: rgb(237, 245, 245); */
}

.page {
  flex: 1 0 auto;
}

.container {
  margin: 10px;
  margin-top: 0;
  width: 300px;
  padding: 10px;
  flex: 0 0 auto;
}

.section {
  margin-bottom: 16px;
}

.section-border {
  border-left: 2px solid #ccc;
  padding-left: 10px;
}

header .container {
  border-bottom: 3px solid #a7e4f0;
}

header h2 {
  font-size: 1.2em;
}

.error {
  color: red;
}

.encouragement {
  color: #aaa5a5;
}

.encouragement-row {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: auto min-content;
  align-items: center;
  margin-bottom: 10px;
}

.workout {
  border-left: 3px solid #dcdae3;
  padding-inline-start: 10px;
}

.list-row {
  display: inline-flex;
  flex-wrap: wrap;
  grid-column-gap: 12px;
  margin-bottom: 10px;
}

label {
  margin-bottom: 10px;
  display: block;
}
label input,
label select,
textarea {
  width: 100%;
}

h3 {
  font-size: 1.1em;
}

.workout ul {
  padding: 10px;
}

.App-logo {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.user-badge {
  display: inline-grid;
  grid-template-columns: min-content auto;
  align-items: baseline;
}

.user-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  vertical-align: middle;
}

p {
  margin: 0;
  margin-bottom: 1em;
}

/*---RESET---*/
.text-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}
.text-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.text-button {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  cursor: pointer;
  color: #555;
  text-decoration: underline #aaa5a5;
  margin-left: -10px;
  padding: 0 10px;
}
.text-button:hover {
  color: #000;
}

/* Firebase */
#firebaseui_container {
  margin: 0 -24px;
}
.firebaseui-card-content {
  padding: 0;
}
.firebaseui-list-item {
  text-align: left;
}
